**1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.**

In [5]:
test1 = "This is a test of the emergency text system"
with open ("test.txt",'w+') as file:
    file.write(test1)

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?**

Ans:
there is no difference between test1 and test 2

In [10]:
with open("test.txt",'r') as file:
   test2 = file.read()
   print(test1)
   print(test2)
if test1 == test2:
   print("there is no difference")

This is a test of the emergency text system
This is a test of the emergency text system
there is no difference

**3. Create a CSV file called books.csv by using these lines: title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992**

In [16]:
import csv
row =[['title','author','year'],
      ['The Weirdstone of Brisingamen','Alan Garner',1960],
      ['Perdido Street Station','China Miéville',2000],
      ['Thud!','Terry Pratchett',2005],
      ['The Spellman Files','Lisa Lutz',2007],
      ['Small Gods','Terry Pratchett',1992]]
with open('book.csv','w',newline='') as file:
    writer =csv.writer(file)
    writer.writerows(row)

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).**

In [17]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

OperationalError: table books already exists

**5. Read books.csv and insert its data into the book table.**

In [18]:
pip install pandas

Requirement already satisfied: pandas in c:\users\thaka\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thaka\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\thaka\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\thaka\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\thaka\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\thaka\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd
read_book = pd.read_csv('book.csv',encoding= 'unicode_escape')
read_book.to_sql('book',conn,if_exists='append',index=True)

5

6. Select and print the title column from the book table in alphabetical order.

In [20]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output=c.execute('select title from books order by title asc')
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

7. From the book table, select and print all columns in the order of publication.

In [32]:
c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

Empty DataFrame
Columns: [title, author, year]
Index: []

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [33]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)