**Question 1**

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(data):
  temp=str(data)
  temp_com =int(temp[::-1])
  if(temp_com==data):
    return True
  else:
    return False



print(f'is_symmetrical(7227) ➞ {is_symmetrical(7227) }')

print(f'is_symmetrical(12567) ➞ {is_symmetrical(12567)}')

print(f'is_symmetrical(44444444) ➞ {is_symmetrical(44444444)}')

print(f'is_symmetrical(9939)➞{is_symmetrical(9939) }')

print(f'is_symmetrical(1112111) ➞ {is_symmetrical(1112111)}')

is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939)➞False
is_symmetrical(1112111) ➞ True


**Question 2**

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [23]:
def multiply_nums(strin):
  strin=strin.replace(",","*")
  return eval(strin)



print(f'multiply_nums("2, 3") ➞{multiply_nums("2, 3")}')

print(f'multiply_nums("1, 2, 3, 4") ➞ {multiply_nums("1, 2, 3, 4")}')

print(f'multiply_nums("54, 75, 453, 0") ➞ {multiply_nums("54, 75, 453, 0")}')

print(f'multiply_nums("10, -2") ➞ -{multiply_nums("10, -2")}')

multiply_nums("2, 3") ➞6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ --20


**Question 3**

Create a function that squares every digit of a number.
Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes
The function receives an integer and must return an integer.

In [45]:
def square_digits(num):
  strin=" "
  i=0
  while num>1:
    digit=int(num%10)
    strin+=str(digit**2)
    num=num/10
  return int(strin[::-1])
print(f'square_digits(9119) ➞ {square_digits(9119)}')
print(f'square_digits(2483) ➞ {square_digits(2483)}')
print(f'square_digits(3212) ➞ {square_digits(3212)}')

square_digits(9119) ➞ 181118
square_digits(2483) ➞ 461469
square_digits(3212) ➞ 9414


**Question 4:**

Create a function that sorts a list and removes all duplicate items from it.
Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [47]:
def setify(lst):
  return list(set(lst))

print(f'setify([1, 3, 3, 5, 5]) ➞ {setify([1, 3, 3, 5, 5])}')

print(f'setify([4, 4, 4, 4]) ➞ {setify([4, 4, 4, 4]) }')

print(f'setify([5, 7, 8, 9, 10, 15]) ➞ {setify([5, 7, 8, 9, 10, 15])}')

print(f'setify([3, 3, 3, 2, 1]) ➞ {setify([3, 3, 3, 2, 1])}')

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]


**Question 5**

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in

512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [53]:
def mean(num):
  count=0
  sum=0
  while num>1:
   count+=1
   digit=int(num%10)
   sum+=digit
   num=num/10
  return int(sum/count)

print(f'mean(42) ➞ {mean(42)}')
print(f'mean(12345) ➞ {mean(12345)}')
print(f'mean(666) ➞ {mean(666)}')

mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6